.card {
  display: none;

  &.show {
    display: block;
    animation-name: fadeInRight;
    animation-duration: 0.6s;
  }
}

.correct-answer {
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fadeIn;
  animation-duration: 0.6s;
}

.incorrect-answer {
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fadeIn;
  animation-duration: 0.6s;
}