<div class="overlay" *ngIf="((stateService.statusCode !== 200) || stateService.emptyTasks)">
  <div class="modal-window card modal-window--visible">
    <h3 class="card-title">Server error</h3>
    <p class="card-text" *ngIf="stateService.statusCode !== 200">Response status {{stateService.statusCode}}.
    {{stateService.statusText}}
    </p>
    <p class="card-text" *ngIf="stateService.emptyTasks">Sorry. We have't so many these questions! :(</p>
    <button (click)="stateService.tryAgain()" class="btn btn-primary btn-lg">Try again</button>
  </div>
</div>
