@import "../variables";

form {
  margin: 0 auto;
  padding: 40px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 3px 35px 8px rgba(0,0,0,0.27);
  border-radius: 5px;

  @media ($mobil-screen) {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% + 25px));
    min-width: 280px;
  }
}

label {
  font-size: 20px;
}

h1 {
  text-align: center;
}
