@import "../variables";

.lives {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 185px;

  &__list {
    height: 50px;
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    @media ($mobil-screen) {
      padding: 10px 20px;
    }
  }

  &__item {
    background-color: green;
    width: 30px;
    height: 100%;
    margin-left: 10px;

    @media ($mobil-screen) {
      width: 10px;
    }

    &:last-child{
      margin-left: 0;
    }

    &.list__item--hidden {
      animation-name: fadeOutDown;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    font-size: 50px;

    @media ($mobil-screen) {
      height: 45px;
      font-size: 20px;
    }
  }

  @media ($mobil-screen) {
    height: 100px;
    bottom: 20px;
    right: 20px;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}